<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.recipe-mapper">
	<select id="recipeListData" resultType="RecipeVO">
		SELECT rno,title,chef,rownum
		FROM (SELECT rno,title,chef FROM project_recipe ORDER BY rno)
		WHERE rownum&lt;=30
	</select>
</mapper>