<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.food-mapper">
	<select id="foodListData" resultType="FoodVO">
		SELECT fno,name,address,rownum
		FROM food_location
		WHERE rownum&lt;=50
	</select>
	<select id="foodDetailData" resultType="FoodVO" parameterType="int">
		SELECT fno,name,address
		FROM food_location
		WHERE fno=#{fno}
	</select>
	<!-- 
	select 태그 내 속성
		1) id : 구분자
		2) resultType : SQL 실행 후 값 저장할 때 데이터형
		3) parameterType : SQL 내에서 필요한 값(? 값) 설정할 때 데이터형
		- 각각 한 번씩만 사용 가능
		- 여러개 설정 필요할 때는 모두 포함하는 타입으로 묶어서 설정(VO/HashMap)
			ex. name=? AND address=? parameterType="FoodVO"
			ex. num BETWEEN ? AND ? parameterType="HashMap"
		- resultType에 대한 return 값
			- 1개(VO) : selectOne
			- 여러개(List<VO>) : selectList
			ex. resultType="FoodVO"
					selectOne("foodDetailData")
					selectList("foodListData")
		- ?에 해당하는 값 : #{} -> 값 직접 대입
						${} -> 테이블, 컬럼명
			- # 추가 시 '' 자동 첨부 -> 테이블이나 컬럼 추가할 때 # 붙이면 문자열로 인식
	 -->
</mapper>