<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 순서
		1) 모든 bean 태그에 등록된 클래스 메모리 할당
		2) 메모리 할당된 클래스의 setter DI 값 주입
		=> dao 생성시 사용되는 ds 객체 생성 맨 아래에 써도 정상 작동
	 -->
	<bean id="ds" class="com.sist.commons.DataSource"
		p:driver="oracle.jdbc.driver.OracleDriver"
		p:url="jdbc:oracle:thin:@localhost:1521:XE"
		p:user="hr"
		p:password="happy"
	/>
	<!-- 일반변수가 아닌 클래스 객체는 ref로 첨부 -->
	<bean id="eDao" class="com.sist.dao.EmpDAO"
		c:ds-ref="ds"
	/>
	<bean id="dDao" class="com.sist.dao.DeptDAO"
		c:ds-ref="ds"
	/>
</beans>
